.border--iron {
  border: 1px solid $iron;
}

.border-left--matisse {
  border-left: 8px solid $matisse;
}

.border-left--carrot {
  border-left: 8px solid $carrot;
}


.border-bottom--iron {
  border-bottom: 1px solid $iron;
}

.border-top--iron {
  border-top: 1px solid $iron;
}

.border-none {
  border: none;
}
